<body>
    <!-- <div class="contenedor-spinner" *ngIf="spinner">
      <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
      </div>
    </div> -->

    <div class="solicitar-turno2">
        <div *ngIf="patientSelectionMenu">
            <h3>PACIENTES</h3>
            <div class="row" style="overflow-x: scroll">
                <div class="col carta-especialista2" *ngFor="let pac of pacientesList" (click)="showPatient(pac)">
                    <img src="{{ pac.fotos }}" alt="imagen" />
                    <p>{{ pac.nombre }} - {{ pac.apellido }}</p>
                </div>
            </div>
        </div>

        <!-- <div class="contenedor-especialistas" *ngIf="specialistSelectionMenu && !patientSelectionMenu">
            <h3>ESPECIALISTAS</h3>
            <div class="contenerdor-carta-esp" style="display: flex; justify-content: center">
                <div *ngFor="let esp of especialistasList" (click)="showSpeciality(esp)">
                    <div>
                        <p style="text-align: center; font-weight: bolder">
                            {{ esp.nombre }} - {{ esp.apellido }}
                        </p>
                        <img class="carta-especialista" style="
                  border-radius: 50%;
                  width: 15rem;
                  height: 15rem;
                  display: flex;
                  justify-content: center;
                " src="{{ esp.fotos[0] }}" alt="imagen" />
                    </div>
                </div>
            </div>
        </div> -->

        <div class="contenedor-especialistas" *ngIf="!turnsSelectionMenu && speciality">
            <h3>ESPECIALISTAS</h3>
            <div class="contenerdor-carta-esp" style="display: flex; justify-content: center">
                <div *ngFor="let esp of arrayEspecialista" (click)="showTurns(esp)">
                    <div >
                        <p style="text-align: center; font-weight: bolder">
                            {{ esp.nombre }} - {{ esp.apellido }}
                        </p>
                        <div class="pepito">
                        <img class="carta-especialista" style="
                  width: 10rem;
                  height: 10rem;
                  display: flex;
                  margin-left: 5rem;
                  justify-content: center;
                " src="{{ esp.fotos[0] }}" alt="imagen" />
                </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div *ngIf="activeEspecialista && !turnsSelectionMenu">
            <h3>ESPECIALIDADES</h3>
            <div class="row">
                <div class="col especialidades" style="border-radius: 2rem"
                    *ngFor="let especialidad of activeEspecialista.especialidad" (click)="showTurns(especialidad)">
                    <img *ngIf="especialidad.nombre == 'Odontología'" src="../../../assets/especialista.png" alt="" />
                    <img *ngIf="especialidad.nombre == 'Diabetología'" src="../../../assets/especialista.png" alt="" />
                    <img *ngIf="especialidad.nombre == 'Endrocrinología'" src="../../../assets/especialista.png" alt="" />
                    <img *ngIf="
                especialidad.nombre != 'Odontología' &&
                especialidad.nombre != 'Diabetología' &&
                especialidad.nombre != 'Endrocrinología'
              " src="../../../assets/especialista.png" alt="" />
                    <p>{{ especialidad.nombre }}</p>
                </div>
            </div>
        </div> -->

        <div *ngIf="especialidadMenuSeleccion && !patientSelectionMenu">
            <h3>ESPECIALIDADES</h3>
            <div class="row">
                <div class="col especialidades" 
                    *ngFor="let especialidad of especialidades" (click)="showEspecialista(especialidad)">
                    <img *ngIf="especialidad.nombre == 'Odontologia'" src="../../../assets/lavando-los-dientes.png" alt="" />
                    <img *ngIf="especialidad.nombre == 'Pediatra'" src="../../../assets/hijo.png" alt="" />
                    <img *ngIf="especialidad.nombre == 'Traumatologia'" src="../../../assets/doctor.png" alt="" />
                    <img *ngIf="
                especialidad.nombre != 'Odontologia' &&
                especialidad.nombre != 'Pediatra' &&
                especialidad.nombre != 'Traumatologia'
              " src="../../../assets/estetoscopio.png" alt="" />
                    <!-- <p>{{ especialidad.nombre }}</p> -->
                </div>
            </div>
        </div>

        <div *ngIf="turnsSelectionMenu">
            <h3>SELECCIÓN DE TURNO</h3>
            <div class="row">
                <div class="col carta-turno">
                    <img src="{{ activeEspecialista.fotos[0] }}" alt="imagen" />
                    <p>
                        {{ activeEspecialista.nombre }} - {{ activeEspecialista.apellido }}
                    </p>
                    <p>{{ speciality.nombre }}</p>
                </div>
                <div class="col turnos-desk">
                    <button class="btn btn-warning" style="
                text-transform: uppercase;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
              " *ngFor="let dia of diasAMostrar" (click)="loadFreeHoursOneDay(dia)">
                        {{ dia | date: 'dd/MM/yy'}}
                    </button>
                    <br />
                    <p *ngIf="diasAMostrar.length == 0" style="text-align: center">
                        No hay turnos disponibles
                    </p>
                    <div style="overflow-y: scroll; height: 15rem">
                        <button class="btn btn-primary" style="
                  width: 5rem;
                  height: 3rem;
                  margin: 0.1rem;
                " *ngFor="let turno of turnosDeUnDiaAMostrar" (click)="seleccionarTurno(turno)">
                            {{ turno.fecha | date: 'HH:mm'  }}
                        </button>
                    </div>
                    <button *ngIf="botonPedirTurno" class="btn btn-success" style="margin-top: 1rem; width: 100%"
                        (click)="solicitarTurno()">
                        Solicitar Turno
                    </button>
                </div>
            </div>

            <div class="row turnos-resp">
                <div class="col">
                    <button class="btn btn-warning btn-dia" style="
                text-transform: uppercase;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
              " *ngFor="let dia of diasAMostrar" (click)="loadFreeHoursOneDay(dia)">
                        {{ dia | date: 'M/d/yy'}}
                    </button>
                    <br />
                    <p *ngIf="diasAMostrar.length == 0" style="text-align: center">
                        No hay turnos disponibles
                    </p>
                    <div class="contenedor-btn-hora">
                        <button class="btn btn-primary" style="
                  width: 4rem;
                  height: 4rem;
                  border-radius: 1rem;
                  margin: 0.1rem;
                " *ngFor="let turno of turnosDeUnDiaAMostrar" (click)="seleccionarTurno(turno)">
                            {{ turno.fecha | date: 'h:mm'  }}
                        </button>
                    </div>
                    <button *ngIf="botonPedirTurno" class="btn btn-success" style="margin-top: 1rem; width: 100%"
                        (click)="solicitarTurno()">
                        Solicitar Turno
                    </button>
                </div>
            </div>
        </div>
    </div>

    <button
    class="btn-habilitar btn-menu-volver"
    *ngIf="!especialidadMenuSeleccion || speciality"
    (click)="volverALasEspecialidades()"
  >
    VOLVER A LAS ESPECIALIDADES
  </button>

    <div class="solicitar-turno-container"></div>

    
</body>

<div *ngIf="spinner" class="spinner-container">
    <div class=" loader"></div>
  </div>