
<div class="tabla-usuario text-focus-in" *ngIf="!createrUserMenu">
    <h3 style="font-size: 2rem; font-weight: bolder">LISTADO DE USUARIOS</h3>
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr class="table-warning">
          <th scope="col" style="color: #000;">VER TURNOS</th>
          <th scope="col" style="color: #000;">PERFIL</th>
          <th scope="col" style="color: #000;">NOMBRE</th>
          <th scope="col" style="color: #000;">APELLIDO</th>
          <th scope="col" style="color: #000;">DNI</th>
          <th scope="col" style="color: #000;">ACCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-tabla table-info" *ngFor="let user of usersList">
          
          <td>
            <button
              type="button"
              color="light"
              mat-fab
              class="btn-fav"
              title="Descargar detalles de turnos"
              (click)="verTurnosUsuario(user)"
            >
              <img
                class="img-btn"
                src="{{ user.fotos[0] }}"
                alt="imagen"
              />
              <p class="user-name">{{ user.nombre }}</p>
            </button>
          </td>

          <td *ngIf="user.hasOwnProperty('obraSocial')" style="text-transform: upperCase">
            <span>Paciente</span>
          </td>
          <td *ngIf="user.hasOwnProperty('especialidad')" style="text-transform: upperCase">
            <span>Especialista</span>
          </td>
          <td *ngIf="!user.hasOwnProperty('obraSocial') && !user.hasOwnProperty('especialidad')" style="text-transform: upperCase">
            <span>Administrador</span>
          </td>
          <td>
            <span>{{ user.nombre }}</span>
          </td>
          <td>
            <span>{{ user.apellido }}</span>
          </td>
          <td>
            <span>{{ user.dni }}</span>
          </td>
          <td>
            <div *ngIf="user.hasOwnProperty('especialidad')">
              <button
                class="btn-habilitar"
                *ngIf="!user.aprobado"
                (click)="updateUser(user, 1)"
              >
                Habilitar
              </button>
              <button
                class="btn-deshabilitar"
                *ngIf="user.aprobado"
                (click)="updateUser(user, 2)"
              >
                Deshabilitar
              </button>
            </div>
       
              <button
                *ngIf="user.hasOwnProperty('obraSocial') && user.historial"
                class="btn-historial"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="verHistorialPaciente(user)"
                >
                Historial
              </button>
        
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <button
    class="btn-habilitar btn-nuevo-usuario"
    *ngIf="!createrUserMenu"
    (click)="showCreateUserMenu()"
  >
    REGISTRAR NUEVO USUARIO
  </button>

  <button
    class="btn-habilitar btn-excel"
    *ngIf="!createrUserMenu"
    (click)="descargarExcel()"
    >
    Descargar Excel
  </button>
  
  
  <button
    class="btn-habilitar btn-menu-volver"
    *ngIf="createrUserMenu"
    (click)="showUserList()"
  >
    VOLVER AL LISTADO
  </button>
  
  <div
    class="opcion-registros row"
    *ngIf="
      !formPaciente && !formEspecialista && !formAdministrador && createrUserMenu
    " 
  >

  <div class="container" style="position: fixed;top: 30%; left: 0;">
    <div class="d-flex flex-wrap col">
      <div class="flex-column text-focus-in"  style="flex: 1;display: flex; justify-content: center;align-items: center;" (click)="goToFormPaciente()">

          <h2>Paciente</h2>
          <img src="../../../assets/paciente.png" style="width: 50%;" alt="imagen paciente" />

      </div>
      <div class="flex-column text-focus-in"  style="flex: 1;display: flex; justify-content: center;align-items: center;" (click)="goToFormEspecialista()">

          <h2>Especialista</h2>
          <img src="../../../assets/especialista.png"  style="width: 50%;" alt="imagen especialista" />

      </div>
        <div class="flex-column text-focus-in"  style="flex: 1;display: flex; justify-content: center;align-items: center;" (click)="goToFormAdministrador()">
      
            <h2>Administrador</h2>
            <img src="../../../assets/administrador.png" style="width: 50%;"  alt="imagen adminitrador" />
    
        </div>
      </div>
    </div>
  </div>
  
 
 
  
  <div class="registro-paciente" *ngIf="formPaciente">
    <button class="btn-volver transUp text-focus-in" (click)="goToRegistro()">
      Volver
    </button>
    <app-form-alta-paciente></app-form-alta-paciente>
  </div>
  <div class="registro-especialista" *ngIf="formEspecialista">
    <button class="btn-volver2 transUp text-focus-in" (click)="goToRegistro()">
      Volver
    </button>
    <app-form-alta-especialista></app-form-alta-especialista>
  </div>
  <div class="registro-especialista" *ngIf="formAdministrador">
    <button class="btn-volver transUp text-focus-in" (click)="goToRegistro()">
      Volver
    </button>
    <app-form-alta-administrador></app-form-alta-administrador>
  </div>

  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          HISTORIAL CLÍNICO
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let historial of historialActivo" class="carta-historial">
          <h3>{{ historial.fecha | fecha }}</h3>
          <!-- <h3>{{ (historial?.fecha.seconds * 1000) | date: 'dd/MM/yyyy HH:mm:ss' }}</h3> -->
          <hr />
          <p>
            <span>Paciente: </span>{{ historial.paciente.apellido | capitalizarPalabras }},
            {{ historial.paciente.nombre | capitalizarPalabras }}
          </p>
          <p><span>Especialidad: </span>{{ historial.especialidad }}</p>
          <p>
            <span>Especialista: </span>{{ historial.especialista.apellido | capitalizarPalabras }},
            {{ historial.especialista.nombre | capitalizarPalabras }}
          </p>
          <p><span>Detalle: </span></p>
          <p>Altura: {{ historial.detalle.altura }}</p>
          <p>Peso: {{ historial.detalle.peso }}</p>
          <p>Temperatura: {{ historial.detalle.temperatura }}</p>
          <p>Presión: {{ historial.detalle.presion }}</p>
          <p><span>Detalles adicionales: </span></p>
          <p *ngIf="historial.detalleAdicional?.clave1">
            {{ historial.detalleAdicional?.clave1 }}:
            {{ historial.detalleAdicional?.valor1 }}
          </p>
          <p *ngIf="historial.detalleAdicional?.clave2">
            {{ historial.detalleAdicional?.clave2 }}:
            {{ historial.detalleAdicional?.valor2 }}
          </p>
          <p *ngIf="historial.detalleAdicional?.clave3">
            {{ historial.detalleAdicional?.clave3 }}:
            {{ historial.detalleAdicional?.valor3 }}
          </p>
          <hr />
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
  
  <div class="usuarios-container"></div>
  <div *ngIf="spinner" class="spinner-container">
    <div class=" loader"></div>
  </div>