<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a href="#" routerLink="bienvenido"><img src="../../../assets/hospital.png" alt="Logo de la empresa"></a>
      <!-- <button class="btn btn-outline-light"  type="submit">Cerrar sesión</button> -->
          <h5 style="color:white; text-align: center ;"></h5>
  
      <div class="collapse navbar-collapse p-2 navLinks" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="bienvenido">Bienvenido</a>
          </li>
          <li class="nav-item" *ngIf="authlogin.seLogueo && authlogin.esAdmin">
            <a class="nav-link active" aria-current="page"  routerLink="/rutaParaElAdmin/usuarios">Usuarios</a>
          </li>
          <li class="nav-item" *ngIf="authlogin.seLogueo && !authlogin.esAdmin">
            <a class="nav-link active" aria-current="page"  routerLink="misTurnos">Mis Turnos</a>
          </li>
          <li class="nav-item" *ngIf="authlogin.seLogueo">
            <a class="nav-link active" aria-current="page"  routerLink="miPerfil">Mi Perfil</a>
          </li>
          <li class="nav-item" *ngIf="authlogin.seLogueo && (authlogin.esAdmin || authlogin.esPaciente)">
            <a class="nav-link active" aria-current="page"  routerLink="solicitarTurno">Solicitar Turnos</a>
          </li>
          <li class="nav-item" *ngIf="authlogin.seLogueo && authlogin.esAdmin">
            <a class="nav-link active" aria-current="page"  routerLink="/rutaParaElAdmin/turnos">Turnos</a>
          </li>
          <li class="nav-item" *ngIf="authlogin.seLogueo && authlogin.esEspecialista">
            <a class="nav-link active" aria-current="page"  routerLink="pacientes">Pacientes</a>
          </li>
          <li class="nav-item" *ngIf="authlogin.seLogueo && authlogin.esAdmin">
            <a class="nav-link active" aria-current="page"  routerLink="/rutaParaElAdmin/graficos">Graficos</a>
          </li>
          <li class="nav-item" *ngIf="!authlogin.seLogueo">
            <a class="nav-link active" aria-current="page"  routerLink="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authlogin.seLogueo">
            <a class="nav-link active" aria-current="page"  routerLink="registro">Registro</a>
          </li>
        </ul>
        <form *ngIf="authlogin.seLogueo" class="d-flex" role="search">
          <p class="intentos" style="color: rgb(255, 255, 255); font-size: 20px; margin-right: 20px; padding-top: 13px; margin-bottom: 0px; margin-top: 0px;"><img style="width: 30px; height: 30px; margin: 0px ; margin-bottom: 3px; margin-right: 8px;" src={{authlogin.fotoUsuario}} alt=""><strong>{{authlogin.nombreUsuario}}</strong></p>
          <button style="height: 50px; width: 150px; margin-top: 4px;" (click)="cerrarSesion()" class="btn btn-outline-success" type="submit">Cerrar sesión</button>
        </form>
      </div>
    </div>
    </nav>