<div>
  <div class="contenedor-spinner" *ngIf="spinner">
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
    </div>
  </div>

  <div class="perfil">
    <h3>Pacientes Atendidos</h3>
    <div *ngIf="hayPacientesAtendidos">
      <div class="row contenedor-cartas">
        <div
        (click)="verHistorialPaciente(pac)"
          class="col carta-especialista"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          *ngFor="let pac of pacientesAtendidos"
        >
          <div >
            <img src="{{ pac.fotos[0] }}" alt="imagen" />
            <p>{{ pac.nombre }} - {{ pac.apellido }}</p>
            <div
              style="
                text-align: center;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                text-shadow: 1px 1px #000;
              "
            >
              <!-- <small>Historial</small> -->
            </div>
            <!-- <div *ngFor="let historial of historialClinicoDelEspecialista">
              <div
                *ngIf="
                  pac.uid == historial.paciente.uid &&
                  user.uid == historial.especialista.uid
                "
                class="detalle-atencion"
              >
                <small *ngIf="historial.paciente.contador <= 3">
                  <span>Fecha:</span>
                  {{ (historial?.fecha.seconds * 1000) | date: 'dd/MM/yyyy HH:mm:ss' }} <span>Especialidad:</span>
                  {{ historial.especialidad }}
                </small>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!hayPacientesAtendidos">
      <h4 style="font-size: 3rem; text-align: center; color: white;">
        No hay pacientes que hayan sido atendidos
      </h4>
    </div>
  </div>

  <div class="pacientes-container"></div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          HISTORIAL CLÍNICO
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let historial of historialActivo" class="carta-historial">
          <h3>{{ (historial?.fecha.seconds * 1000) | date: 'dd/MM/yyyy HH:mm:ss' }}</h3>
          <hr />
          <p>
            <span>Paciente: </span>{{ historial.paciente.apellido }},
            {{ historial.paciente.nombre }}
          </p>
          <p><span>Especialidad: </span>{{ historial.especialidad }}</p>
          <p>
            <span>Especialista: </span>{{ historial.especialista.apellido }},
            {{ historial.especialista.nombre }}
          </p>
          <p><span>Detalle: </span></p>
          <p>Altura: {{ historial.detalle.altura }}</p>
          <p>Peso: {{ historial.detalle.peso }}</p>
          <p>Temperatura: {{ historial.detalle.temperatura }}</p>
          <p>Presión: {{ historial.detalle.presion }}</p>
          <p><span>Detalles adicionales: </span></p>
          <p *ngIf="historial.detalleAdicional?.clave1">
            {{ historial.detalleAdicional?.clave1 }}:
            {{ historial.detalleAdicional?.valor1 }}
          </p>
          <p *ngIf="historial.detalleAdicional?.clave2">
            {{ historial.detalleAdicional?.clave2 }}:
            {{ historial.detalleAdicional?.valor2 }}
          </p>
          <p *ngIf="historial.detalleAdicional?.clave3">
            {{ historial.detalleAdicional?.clave3 }}:
            {{ historial.detalleAdicional?.valor3 }}
          </p>
          <hr />
          <h3>Detalles del turno</h3>
          <div *ngFor="let turn of turnosFiltrados" class="carta-historial">
            <div *ngIf="turn.paciente.uid == pacienteActivo.uid">
              <span>Paciente: </span>{{ turn.paciente.apellido }},
              {{ turn.paciente.nombre }}
              <br>
              <span>Especialidad en la que se atendió: </span>{{ turn.especialidad }}
              <br>
              <span>Fecha de atención: </span> {{ (turn.fecha.seconds * 1000) | date: 'dd/MM/yyyy HH:mm:ss' }}
              <br>
              <span>Estado del turno: </span> {{ turn.estado }}
              <br>
              <hr>
              <span>Reseña del paciente: </span> {{turn.comentarioPaciente}}
            </div>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>