body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-size: cover;
    /* background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221336%22 height=%22700%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill=%22%23edf8ee%22 d=%22M0 0h1336v700H0z%22%2F%3E%3Cpath d=%22M0 175h0c17.104-3.887 34.207-7.775 52-4 17.793 3.775 36.274 15.212 53 22s31.697 8.926 49 6 36.938-10.915 54-20c17.062-9.085 31.551-19.265 48-13 16.449 6.265 34.857 28.975 51 37 16.143 8.025 30.02 1.367 48-12s40.06-33.442 57-39c16.94-5.558 28.74 3.4 46 17s39.977 31.843 58 24c18.023-7.843 31.35-41.772 48-46 16.65-4.228 36.62 21.247 55 32 18.38 10.753 35.168 6.786 52 3 16.832-3.786 33.708-7.39 49-6 15.292 1.39 29.001 7.774 46 9s37.286-2.705 56-12 35.853-23.953 52-27c16.147-3.047 31.302 5.518 48 13s34.938 13.88 53 20c18.062 6.12 35.944 11.959 53 15 17.056 3.041 33.285 3.285 51-5 17.715-8.285 36.915-25.098 53-34 16.085-8.902 29.054-9.891 45-9 15.946.891 34.87 3.663 53 12 18.13 8.337 35.466 22.24 53 26 17.534 3.76 35.267-2.62 93-9%22 fill=%22none%22 stroke=%22%23b8e6be%22 stroke-width=%228%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 350h0c19.274 5.514 38.549 11.028 55 10 16.451-1.028 30.08-8.599 46-8 15.92.599 34.134 9.368 52 11 17.866 1.632 35.384-3.872 51-6s29.33-.881 48 3c18.67 3.881 42.299 10.396 60 14 17.701 3.604 29.475 4.296 44 0 14.525-4.296 31.802-13.579 51-27s40.316-30.98 58-27c17.684 3.98 31.933 29.502 49 37 17.067 7.498 36.953-3.028 55-8 18.047-4.972 34.255-4.39 49-8 14.745-3.61 28.026-11.414 46-14 17.974-2.586 40.64.044 59 9s32.416 24.236 47 19c14.584-5.236 29.696-30.989 48-26 18.304 4.989 39.798 40.719 59 40 19.202-.719 36.11-37.886 51-40 14.89-2.114 27.759 30.823 44 36s35.854-17.408 54-14c18.146 3.408 34.824 32.81 51 29 16.176-3.81 31.851-40.833 49-51 17.149-10.167 35.772 6.522 53 18s33.061 17.744 50 10 34.982-29.498 53-33c18.018-3.502 36.009 11.25 94 26%22 fill=%22none%22 stroke=%22%236ccc79%22 stroke-width=%228%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 525h0c16.007 4.998 32.015 9.997 48 2s31.948-28.99 51-32c19.052-3.01 41.193 11.96 59 20 17.807 8.04 31.279 9.151 46 7s30.692-7.564 48-5 35.952 13.105 53 17c17.048 3.895 32.5 1.146 50 2 17.5.854 37.047 5.313 55 8 17.953 2.687 34.312 3.603 51 2 16.688-1.603 33.703-5.725 52-9 18.297-3.275 37.875-5.702 56-4s34.798 7.534 50 5c15.202-2.534 28.933-13.434 46-23s37.472-17.796 55-7 32.18 40.62 50 39c17.82-1.62 38.807-34.684 55-35 16.193-.316 27.593 32.116 44 41s37.82-5.78 57-11 36.125-.998 53 2 33.678 4.77 50 0c16.322-4.77 32.16-16.084 50-16 17.84.084 37.678 11.567 54 14 16.322 2.433 29.128-4.183 46-15s37.812-25.835 56-29c18.188-3.165 33.625 5.524 50 12s33.687 10.738 91 15%22 fill=%22none%22 stroke=%22%237bd187%22 stroke-width=%228%22 stroke-linecap=%22round%22%2F%3E%3C%2Fsvg%3E"); */
}

.main {
    width: 700px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */

.turnos-container {
    font-family: "Poppins", sans-serif;
    background-image: url("https://infraestructuramedica.mx/wp-content/uploads/2021/08/pasillo-de-hospital-min.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.turnos {
    position: absolute;
    overflow-y: scroll;
    width: 90vw;
    height: 80vh;
    top: 18%;
    left: 5%;
    z-index: 100;
    padding: 1rem;
    /* border-radius: 1rem; */
    border: 3px solid white;
    background: rgba(0,156,140,.6);
}

.turnos h3 {
    text-align: start;
    font-size: 1.5rem;
    color: #fff;
    /* background: rgba(0, 0, 0, 0.534); */
    padding: 10px;
    border-radius: 20px;
    /* box-shadow: 2px 2px 4px #000; */
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-shadow: 1px 1px 2px rgb(0, 0, 0); */
    margin-bottom: 1rem;
}

.turnos label {
    font-size: 1.2rem;
    font-weight: bold;
}

.turnos p {
    font-size: 1rem;
    color: rgb(100, 100, 100);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.tabla-usuario {
    height: 75%;
    overflow-y: scroll;
    z-index: 100;
    left: 5%;
    top: 18%;
    background: #000;
    color: #fff;
    padding: 1rem;
    background: rgba(0,156,140,.6);
    border: 2px solid #fff;
    box-shadow: 2px 2px 4px #000;
    /* text-shadow: 1px 1px #000; */
}

.tabla-usuario h3 {
    text-align: center;
}

.tabla-usuario table {
    color: #fff;
    font-weight: 400;
}

.tr-tabla:hover {
    color: #fff;
    background: rgba(201, 0, 0, 0.685);
    transition: background 0.5s;
}

.btn-especialista:hover {
    background: rgb(0, 0, 0);
    box-shadow: 2px 2px 4px #000;
}

.btn-cancelar:hover {
    background: #ff0000;
    box-shadow: 2px 2px 4px #000;
}

.btn-confirmar:hover {
    background: #0099ff;
}

.estado {
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    background: #0071b3;
}

.mensaje-error {
    background: rgba(255, 0, 0, 0.74);
    color: #fff;
    padding: 0px 5px;
    border-radius: 5px;
    text-shadow: 1px 1px #000;
}

.contenedor-form {
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #000;
    padding: 1rem;
    background: rgba(0,156,140,.6);
}

.contenedor-adicionales {
    color: #fff;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #000;
    padding: 1rem;
    background: rgba(0,156,140,.6);
}

.input-busqueda {
    width: 15rem;
    border: 3px solid rgba(0,156,140);
    /* border-radius: 10px; */
    height: 2rem;
    padding-left: 1rem;
    box-shadow: 2px 2px 4px #000;
}

.input-busqueda:focus {
    border: 3px solid rgb(0, 119, 255);
    box-shadow: 0 0 12px #0099ff;
    transition: box-shadow 0.5s;
}


/* @media screen and (max-width: 480px) {
  .turnos-container {
    min-height: 100vh;
  }

  .turnos {
    width: 98vw;
    top: 12%;
    left: 1%;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  .input-busqueda {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .tabla-usuario {
    width: 100%;
    height: 75%;
    left: 5%;
    top: 18%;
    padding: 0.5rem;
  }

  .table {
    width: 100%;
  }
  
} */